<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CLEAN MARKUP = GOOD KARMA.
      Hi source code lover,

      you're a curious person and a fast learner ;)
      Let's make something beautiful together. Contribute on Github:
      https://github.com/webslides/webslides

      Thanks!
    -->
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '769348161470464001', // IMC.RE Discord
        channel: '1012281974041362452' // #general 1012258700922208287
    })
    </script>

    <!-- SEO -->
    <title>IMC.RE | HomePage</title>
    <meta name="title" content="IMC.RE | HomePage">
    <meta name="description" content="IMC.RE's Homepage, We are a server Group for Minecraft and more.">
    <meta name="keywords" content="我的世界, Minecraft, 我的世界网页版, IMC.RE, IMC">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="./static/css/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="./static/css/svg-icons.css">

    <link rel="shortcut icon" href="./favicon.ico">
    <!-- FAVICONS 
    <link rel="shortcut icon" sizes="16x16" href="./static/images/favicons/favicon.png">
    <link rel="shortcut icon" sizes="32x32" href="./static/images/favicons/favicon-32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="./static/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="./static/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="./static/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="./static/images/favicons/favicon-180.png">
    <link rel="apple-touch-icon icon" sizes="192x192" href="./static/images/favicons/favicon-192.png">-->

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#333333">

    
    <!--Google Adsense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4773172018528901" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJ1XEBNHXL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QJ1XEBNHXL');
    </script>
    <!-- Edit this to change staff cards! 
    <script>
        window.onload=function(){
    try{
        var testing = document.getElementById("aswift_0_expand")
    }catch{
            alert("请关闭广告屏蔽插件，\n 这将成为我们运营下去的重要经济来源！\n （当然不关也没什么，只是我们会伤心QAQ）")
    }finally{
        if(testing == null){
        if(confirm('请关闭广告屏蔽插件，\n 本站的运营和维护消耗了相关人员大量的精力和资金，\n 而广告是我们持续运营下去的重要资金来源。\n\n 我们知道您不愿因广告影响体验，\n 但是为了本项目的维护，您的帮助是必不可少的。\n\n 或者，如果您愿意，也可以请我们喝一杯卡布奇诺)\n 当然,你也可以直接关掉这个提示,不过我们会很难过QAQ')){
   	        	console.log('你点击了确定')
   	        }else{
   	        	console.log('你点击了取消')
            window.open("http://iurl.ltd/money");
   	        }
        }
    }
}
    </script>-->
  </head>
  <body>
    <header role="banner" class="bg-black-blue">
      <nav role="navigation">
        <p class="logo"><a href="./index.html" title="WebSlides">Home</a></p>
        <ul>
          <li class="qq">
            <a href="https://l.imc.re/qqgroup" title="QQ">
              <svg class="fa-qq">
                <use xlink:href="#fa-qq"></use>
              </svg>
              <em>@IMC.RE</em>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main role="main">
      <article>

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 90% / <div class="wrap size-50"> = 45%;
        -->
        <section class="bg-apple aligncenter">
          <span class="background dark" style="background-image:url('./static/images/bg/bg-1.jpg')"></span>
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
            <h1>IMC.RE</h1>
            <p>
              更简洁，更快捷，更高效
            </p>
            <p>
              <!--<a href="index.html" class="button zoomIn" title="home">
                了解更多
              </a>-->
            </p>
          </div>
          <!-- .end .wrap -->
        </section>
        <section>
          <div class="wrap">
            <div class="content-left">
              <h2>只愿曾经那份热爱 将作为情怀永存 <br> 我们为情怀而奋斗</h2>
            </div>
            <!-- end .content-left -->
            <div class="content-left">
              <p>Minecraft是将我们联系到一起的游戏，我们相信他有更多的可能性等待着我们去探索与发现。IMC.RE，是对新奇事物与未知领域的挑战满怀期待的团队。早上喝一杯茶，也是对世界的一种改变。 </p>
            </div>
            <!-- end .content-left -->
            <ul class="flexblock metrics">
              <li> 投入成本
                <span>未知</span>
              </li>
              <li>
                <span>20000+</span>
                注册玩家
              </li>
              <li>
                <span>
                  <svg class="fa-users">
                    <use xlink:href="#fa-users"></use>
                  </svg>
                </span>
                6 名成员
              </li>
              <li>
                <span>
                  <svg class="fa-line-chart">
                    <use xlink:href="#fa-line-chart"></use>
                  </svg>
                </span>
                赞助金额: 2038
              </li>
            </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-black">
         <div class="wrap">
          <hr>
            <h2>Project</h2>
            <p>我们的企划与服务，相信或多或少会对你有帮助</p>
            <ul class="flexblock features fadeInUp">
              <li>
                <div>
                  <h2>
                    网页版MC
                  </h2>
                  由开源社区为MC提供的全新可能性
                  <hr>
                  <a href="http://ws.imc.re/" class="button radius" target="_blank">了解更多</a>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    SMGoro Store
                  </h2>
                  提供廉价方便的服务器相关产品
                  <hr>
                  <a href="https://store.imc.re/" class="button radius" target="_blank">了解更多</a>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    LinkMC
                  </h2>
                  世界规模的Minecraft服务器互联
                  <hr>
                  <a href="#" class="button radius" target="_blank">敬请期待</a>
                </div>
              </li>
            </ul>

          </div>
          <!-- .end .wrap -->
        </section>
        
        <section class="aligncenter">
          <div class="wrap">
            <h2><strong>团队成员</strong></h2>
            <p class="text-intro">一个优秀的项目离不开优秀的团队，优秀的团队离不开优秀的成员。我们不是最好的，但是我们会变得更好。</p>
            <ul class="flexblock border">
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=2128336160&s=640">
                  <h3 class="aligncenter"><a target="_blank" href="http://smgoro.top/">SummerGoro</a></h3>
                  <h3 class="aligncenter">项目策划/运营</h3>
                  <hr>
                  <p class="aligncenter">
                    2017年开始进行开服活动，<strong>SMGoro Server 以及 IMC.RE 的服务器硬件支持及运维，</strong>，<del>是划水多年的咸鱼鸽子一枚</del>。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2128336160&site=qq&menu=yes" target="_blank">QQ</a></li>
                      <li><a href="https://space.bilibili.com/359079394" target="_blank">Bilibili</a></li>
                      <li><a href="mailto:summergoro@outlook.com" target="_blank">Mail</a></li>
                      <li><a href="https://github.com/SMGoro" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=3625282098&s=640">
                  <h3 class="aligncenter">ZIMZAZA4</h3>
                  <h3 class="aligncenter">技术人员</h3>
                  <hr>
                  <p>
                    国内Geyser服务器首个使用 Floodgate BE Form，同时自发研究互通服自定义物品功能，走在互通服技术前沿的执行腐竹。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3625282098&site=qq&menu=yes" target="_blank">QQ</a></li>
                      <li><a href="https://space.bilibili.com/401201045" target="_blank">Bilibili</a></li>
                      <li><a href="mailto:3625282098@qq.com" target="_blank">Mail</a></li>
                      <li><a href="https://github.com/zimzaza4" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=1593713272&s=640">
                  <h3 class="aligncenter">李任渊</h3>
                  <h3 class="aligncenter">技术人员/合作腐竹</h3>
                  <hr>
                  <p>
                    Dawnhall服务器服主，任渊生存整合包开发者，IMC.RE网页版MC管理人。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=1593713272&site=qq&menu=yes" target="_blank">
                          QQ
                        </a>
                      </li>
                      <li>
                        <a href="https://space.bilibili.com/1904088159" target="_blank">
                          Bilibili
                        </a>
                      </li>
                      <li>
                        <a href="mailto:1593713272@qq.com" target="_blank">
                          Mail
                        </a>
                      </li>
                      <li><a href="https://github.com/lRENyaaa" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
            </ul>
            <ul class="flexblock border">
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=1964545962&s=640">
                  <h3 class="aligncenter">东少</h3>
                  <h3 class="aligncenter">技术人员/合作腐竹</h3>
                  <hr>
                  <p>
                    未来城服务器服主，MCQQBot开发者。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1964545962&site=qq&menu=yes" target="_blank">QQ</a></li>
                      <li><a href="https://space.bilibili.com/234522354" target="_blank">Bilibili</a></li>
                      <li><a href="mailto:1964545962@qq.com" target="_blank">Mail</a></li>
                      <li><a href="https://github.com/DongShaoNB" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=3155699287&s=640">
                  <h3 class="aligncenter">DJelly4K</h3>
                  <h3 class="aligncenter">运维/合作腐竹</h3>
                  <hr>
                  <p>
                    祈愿服务器服主，互通UI先行者。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3155699287&site=qq&menu=yes" target="_blank">QQ</a></li>
                      <li><a href="https://space.bilibili.com/382188808" target="_blank">Bilibili</a></li>
                      <li><a href="mailto:DJelly4K@outlook.com" target="_blank">Mail</a></li>
                      <li><a href="https://github.com/DJelly4K" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
              <li>
                <!--div required = padding li or li>a-->
                <div>
                  <img class="aligncenter size-100" src="http://q1.qlogo.cn/g?b=qq&nk=799108504&s=640">
                  <h3 class="aligncenter">Marco5699</h3>
                  <h3 class="aligncenter">运维</h3>
                  <hr>
                  <p>
                    香港区域负责人，平常喜欢打打游戏，折腾电脑方面的东西。
                  </p>
                  <nav role="navigation">
                    <ul>
                      <li><a href="http://wpa.qq.com/msgrd?v=3&uin=799108504&site=qq&menu=yes" target="_blank">QQ</a></li>
                      <li><a href="https://space.bilibili.com/49561675" target="_blank">Bilibili</a></li>
                      <li><a href="mailto:marco5699@dawnoriginal.com" target="_blank">Mail</a></li>
                      <li><a href="https://github.com/Marco5699" target="_blank">Github</a></li>
                    </ul>
                  </nav>
                </div>
              </li>
            </ul>
          </div>
          <!-- .end .wrap -->
        </section>

        <section class="bg-apple">
          <div class="wrap">
          <!--广告位
              <a href="index.html#slide=7" target="_blank">
             <img src="./static/images/gg/adyl.png" class="aligncenter">
            </a>-->
            <h2 class="aligncenter">服务购买</h2>
            <ul class="flexblock plans blink">
              <li>
                <a href="https://store.imc.re/store/natvps" target="_blank" title="smgvps">
                  <h2>VPS购买</h2>
                  <div>
                    <span class="price"><sup>￥</sup>15 <sup>/月 起</sup></span>
                    <p>我们提供低价高配VPS服务器，<strong>i9超频4.5Ghz</strong>仅需15元/月 起！</p>
                    <span class="button ghost">了解更多</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://store.imc.re/store/mbf" target="_blank" title="smgpanel">
                  <h2>MC面板服</h2>
                  <div>
                    <span class="price"><sup>￥</sup>5 <sup>/月 起</sup></span>
                    <p>小白开服首选！一键开服，面板式管理，<strong>支持网页版MC！</strong></p>
                    <span class="button radius">现在购买</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://store.imc.re/store/jszc" target="_blank" title="adsell">
                  <h2>技术支持</sup></h2>
                  <div>
                    <span class="price"><sup>￥</sup>20 <sup>/次 起</sup></span>
                    <p>开服如果有什么困难或需要帮忙的地方，欢迎找我们进行交流沟通~</p>
                    <span class="button ghost">了解更多</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <section>
          <div class="wrap">
            <div class="card-25 bg-white">
              <figure>
                <img src="https://imc.re/assets/images/c4fcae259630c.png">
              </figure>
              <!-- end figure-->
              <div class="flex-content">
                <h2>
                  加入我们
                </h2>
                <p>如果您希望加入我们的服务器团队，我们诚挚的欢迎您的到来，并且我们愿意相信，您的到来将会为Minecraft社区添加一份光彩。</p>
                <hr>
                <a href="#" class="button radius" target="_blank">加入我们</a>
              </div>
              <!-- end .flex-content-->
            </div>
            <!-- .end .card50 -->
          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter bg-gradient-h">
          <!-- .wrap = container (width: 90%) -->
          <div class="wrap">
            <h2><strong>联系我们</strong> </h2>
            <p class="text-intro">如果需要联系我们，可通过以下方式找到我们：</p>
              <a href="https://l.imc.re/qqgroup" class="button" title="IMC.RE Website">
                QQ群
              </a>
              <a href="https://l.imc.re/kook" class="button" title="QQ">
                KOOK
              </a>
              <a href="https://l.imc.re/discord" class="button" title="IMC.RE Website" target="_blank">
                Discord
              </a>
              <!--<a href="https://jq.qq.com/?_wv=1027&k=ViW7u051" class="button" title="IMC.RE Website" target="_blank">
                QQ群
              </a>-->

              <span class="try">
                <a href="https://l.imc.re/sponsor" title="赞助我们">
                  <svg class="fa-paypal">
                    <use xlink:href="#fa-paypal"></use>
                  </svg>
                  赞助我们
                </a>
              </span>
            </p>
            <p>
              <a href="https://www.minecraft.net" target="_blank">"Minecraft"</a>以及"我的世界"为美国微软公司的商标 本站与微软公司没有从属关系
            </p>
          </div>
        </section>

      </article>
      
    </main>
    <!--main-->

        <!--.wrap o <nav> = container 1200px -->
          <footer class="bg-black-blue" role="banner">
            <div class="wrap">
              <p>
                <span class="alignleft"><a href="https://imc.re" title="IMC.RE"><img src="./static/images/logos/imcre.png" alt="IMC.RE"></a></span>
                <span class="alignright"><a href="https://www.minecraft.net" target="_blank">
                  <!--"Minecraft"</a>以及"我的世界"为美国微软公司的商标 本站与微软公司没有从属关系-->
                  <a href="http://imc.re/" title="homepage">
                    @Copyright &copy; IMC.RE 2022
                  </a>
                </span>
              </p>
            </div>
          </footer>

    <!-- Required -->
    <script src="./static/js/webslides.js"></script>

    <script>
      window.ws = new WebSlides();
    </script>

    <!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
    <script defer src="./static/js/svg-icons.js"></script>

    <!-- 百度统计 -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ce7e01653fd1aa8e462197d25678a9b5";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
      </script>

  </body>
</html>
